@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(135deg, #788dea 0%, #73578f 100%);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}